# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python runtime 
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific (Optional: uncomment to prevent uploading your datasets)
data/
*.csv